---
title: Главная
---

{% include head.html %}
{% include templates.html %}

<main class="max-w-md mx-auto">

<a href="#address" id="address" class="flex flex-row items-center mt-4 px-4 gap-4 hover:text-gray-500 active:text-gray-400">
  <svg class="opacity-90" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13 9C13 11.2091 11.2091 13 9 13C6.79086 13 5 11.2091 5 9C5 6.79086 6.79086 5 9 5C11.2091 5 13 6.79086 13 9Z" stroke="currentColor" stroke-width="2"/>
    <path d="M17 9C17 13.4183 11 21 9 21C7 21 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="currentColor" stroke-width="2"/>
  </svg>
  <span :if="address">Верхне-Каменская улица, 9к1</span>
  <span :else>Укажите адрес доставки</span>
  <svg width="7" height="12" class="ml-auto opacity-50" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.33301 1L5.74375 5.41074C6.06919 5.73618 6.06919 6.26382 5.74375 6.58926L1.33301 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  </svg>
</a>

<nav id="categories" class="flex flex-row py-4 mt-4">
  <a :each="item in [
    {name:'Каталог',icon:'list',href:'catalog'},
    {name:'Растения',icon:'leaf',href:'plants'},
    {name:'Заказать услугу',icon:'edit',href:'order'},
    {name:'Акции',icon:'lightning',href:'promo'},
    {name:'Озелени страну',icon:'plant',href:'greenery'}
  ]" :href="item.href" class="flex flex-col text-xs leading-tight w-24 text-center items-center hover:text-gray-500 active:text-gray-400">
    <img :src="`./assets/icon-${item.icon}.svg`" class="border-2 border-green-600  hover:bg-green-50 p-2 mb-2 rounded-lg w-10 h-10 opacity-90 hover:opacity-70" />
    <span class="" :text="item.name"></span>
  </a>
</nav>

<section id="banner-1" class="my-2" :render="bannerTpl" :with="{items: [
  {img: 'promo-2.png'},
  {img: 'promo-1.png'}
]}"></section>

<section id="featured" :render="featuredTpl" :with="{title: 'Успей купить', items: [
  {id:1,name:`Голубика Дюк`,desc:'Это не только название сорта голубики, но и еще одного сорта: Голубика дюка, который тоже очень вкусный.',img:'featured-1.png',price:438,oldPrice:489,rating:4},
  {id:2,name:'Яблоня Макинтош',desc:'Яблоки, которые никогда не будут проданы на рынке, потому что их невозможно продать.',img:'featured-3.png',price:465,oldPrice:469,rating:3},
  {id:3,name:'Гортензия Никко Блю',desc:'Растение семейства Гортензиевых, которое цветет всего один раз в жизни, но зато цветёт очень долго.',img:'featured-2.png',price:123,oldPrice:456,rating:5},
  {id:4,name:'',desc:'',price:'',oldPrice:'',img:'',rating:3},
]}"></section>

<section id="apples" class="mx-3" :render="articlesTpl" :with="{
  title: 'Яблони',
  headerBg: 'banner-apples.png',
  items: [
  {id:1,name:'Яблоня “Мельба”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-1.png',price:450,rating:4,special:true},
  {id:2,name:'Яблоня “Икша”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-2.png',price:450,rating:4.3,special:true},
  {id:3,name:'Яблоня “Жигулевская”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-3.png',price:450,rating:4,special:true},
  {id:4,name:'Яблоня “Красная”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-4.png',price:450,rating:4.1},
  {id:5,name:'Яблоня “Ред Чиф”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-5.png',price:389,rating:5},
  {id:6,name:'Яблоня “Богатырь”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-6.png',price:380,rating:4},
  {id:7,name:'Яблоня “Грушовка”',desc:`Яблоня Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-7.png',price:389,rating:5},
  {id:8,name:'Яблоня “Ренет”',desc:`Яблоня Ренет относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'apples-8.png',price:380,rating:4}
]}"></section>

<section id="roses" class="mx-3" :render="articlesTpl" :with="{
  title: 'Розы',
  headerBg: 'banner-roses.png',
  items: [
  {id:11,name:'Роза “Кофе брейк”',desc:`Роза Кофе брейк относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-1.png',price:450,rating:4,special:true},
  {id:12,name:'Роза “Ностальгия”',desc:`Роза Ностальгия относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-2.png',price:450,rating:4,special:true},
  {id:13,name:'Роза “Белла Вита”',desc:`Роза Белла Вита относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-3.png',price:450,rating:4,special:true},
  {id:14,name:'Роза “Анастасия”',desc:`Роза Анастасия относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-4.png',price:450,rating:4},
  {id:15,name:'Роза “Королевство”',desc:`Роза Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-5.png',price:389,rating:5},
  {id:16,name:'Роза “Сусанна”',desc:`Роза Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-6.png',price:380,rating:4},
  {id:17,name:'Роза “Шакира”',desc:`Роза Мельба относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-7.png',price:389,rating:5},
  {id:18,name:'Роза “Мария”',desc:`Роза Ренет относится к сортам среднего срока созревания.
  При хорошем уходе и благоприятных погодных условиях плоды могут быть получены уже в конце августа.
  Сорт яблони Мельба был выведен в Швеции.`,img:'roses-8.png',price:380,rating:4}
]}"></section>

<section id="banner-2" class="my-4" :render="bannerTpl" :with="{items: [
  {img: 'promo-2.png'},
  {img: 'promo-1.png'}
]}"></section>

<section id="for-you" :render="featuredTpl" :with="{title: 'Для вас', items: [
  {id:1,name:`Голубика Дюк`,desc:'Это не только название сорта голубики, но и еще одного сорта: Голубика дюка, который тоже очень вкусный.',img:'featured-1.png',price:438,oldPrice:489,rating:4},
  {id:2,name:'Яблоня Макинтош',desc:'Яблоки, которые никогда не будут проданы на рынке, потому что их невозможно продать.',img:'featured-3.png',price:465,oldPrice:469,rating:3},
  {id:3,name:'Гортензия Никко Блю',desc:'Растение семейства Гортензиевых, которое цветет всего один раз в жизни, но зато цветёт очень долго.',img:'featured-2.png',price:123,oldPrice:456,rating:5},
  {id:4,name:'',desc:'',price:'',oldPrice:'',img:'',rating:3},
]}"></section>

</main>

{% include foot.html %}