<div id="map-container" class="bg-gray-200 rounded-md mt-6 mb-8 h-full">
</div>
<button class="button button-green h-10 font-medium absolute bottom-16 !px-16 mx-auto left-0 right-0 !w-fit">Добавить адрес</button>

<script type="text/javascript">
  function initMap() {
    // Basic options for a simple Google Map
    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
    var mapOptions = {
      // How zoomed in you want the map to start at (always required)
      zoom: 13,
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      fullscreenControl: false,
      backgroundColor: '#131314',

      // The latitude and longitude to center the map (always required)
      center: new google.maps.LatLng(59.9030742,30.3732213),

      // How you would like to style the map.
      // This is where you would paste any style found on Snazzy Maps.
      // styles: [{"stylers":[{"visibility":"simplified"}]},{"stylers":[{"color":"#131314"}]},{"featureType":"water","stylers":[{"color":"#131313"},{"lightness":7}]},{"elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"lightness":25}]}]
    };

    // Get the HTML DOM element that will contain your map
    // We are using a div with id="map" seen below in the <body>
    var mapElement = document.getElementById('map-container');
    console.log(mapElement)

    // Create the Google Map using our element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);

    // Let's also add a marker while we're at it
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(59.9030742,30.3732213),
      map: map,
      title: 'PROAKPP'
    });

    var infowindow = new google.maps.InfoWindow({
      content: 'XXX'
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    map.panBy(200, -150);
    setTimeout(function () {
      infowindow.open(map, marker);
    }, 1000)
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDh1gTWO5V-HZl2T_9iXLCDPcuLt8aXNc&callback=initMap"></script>