<template :ref="bannerTpl">
  <div class="" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": false }'>
    <a href="item" :each="item,idx in items" class="w-96 mb-8 pl-3 pt-2 relative">
      <div class="hover:scale-[1.02] transition-transform relative after:absolute after:-bottom-2 after:-left-2 after:-right-2 after:bg-shadow after:h-4 after:-z-10 after:blur-[2px]">
        <img :src="`./assets/${item.img}`" height="160" class="h-[160px] w-full object-cover rounded-lg shadow-md" />
      </div>
      <!-- <span class="absolute">Озелени страну</span> -->
    </a>
  </div>
</template>

<template :ref="featuredTpl">
  <header class="flex flex-row items-baseline mx-4">
    <h2 class="text-xl font-semibold" :text="title"></h2>
    <a class="ml-auto text-green-600 hover:text-green-500 active:text-green-400 text-sm" href="/#see-all">Смотреть все</a>
  </header>

  <div class="my-2" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": false }'>
    <div :each="item in items" class="mb-4 first:pl-3 pl-2">
      <div class="w-32 p-1 bg-slate-50 rounded-xl flex flex-col shadow-lg border-[1px] border-slate-100">
        <a href="#like" :onclick="e => like(item.id)" class="absolute top-3 right-3 text-red-400">
          <svg class="" width="16" height="15" viewBox="0 0 16 15" :fill="likes.includes(item.id) ? 'currentColor' : 'none'" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99538 3.43711C6.64581 1.86435 4.39533 1.44128 2.70442 2.88146C1.01351 4.32164 0.775453 6.72955 2.10333 8.43286C3.20738 9.84904 6.5486 12.8359 7.64367 13.8026C7.76618 13.9108 7.82744 13.9648 7.89889 13.9861C7.96126 14.0046 8.0295 14.0046 8.09186 13.9861C8.16331 13.9648 8.22457 13.9108 8.34709 13.8026C9.44216 12.8359 12.7834 9.84904 13.8874 8.43286C15.2153 6.72955 15.0063 4.30649 13.2863 2.88146C11.5664 1.45643 9.34494 1.86435 7.99538 3.43711Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a href="item"><img :src="`./assets/${item.img}`" height="130" class="min-h-[130px] object-cover w-full rounded-lg" /></a>
        <div class="flex flex-row items-center py-2 gap-3">
          <span class="bg-repeat bg-stripes rounded-md text-white px-1 whitespace-nowrap" :text="item.price + ' ₽'"></span>
          <del class="text-gray-400 text-sm whitespace-nowrap" :text="item.oldPrice + ' ₽'"></del>
        </div>
        <div class="bg-white rounded-md p-2">
          <a href="item"><h4 class="text-base mb-1 leading-tight font-semibold line-clamp-2" :text="item.name"></h4></a>
          <p class="text-xs line-clamp-3" :text="item.desc"></p>
        </div>
        <button type="button" class="text-white inline-block w-auto bg-gradient-to-b from-red-300 to-red-500 hover:from-red-200 hover:to-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 rounded-lg text-center py-1 leading-snug tracking-wide font-semibold text-sm uppercase -rotate-2 my-2 whitespace-nowrap">В корзину</button>
        <div class="flex items-center justify-center py-1 bg-white text-center rounded-lg">
          <svg :each="star in 5" aria-hidden="true" class="w-5 h-5" :class="star <= item.rating ? 'text-yellow-400' : 'text-gray-300'" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
        </div>
      </div>
    </div>
  </div>
</template>

<template :ref="articlesTpl">
  <div class="h-20 px-4 my-4 rounded-lg shadow-md w-full bg-right bg-cover bg-no-repeat flex items-center" :style="`background-image:url(./assets/${headerBg})`">
    <h2 class="text-3xl font-medium text-white" :text="title"></h2>
  </div>
  <div class="grid grid-cols-2 gap-2">
    <article :each="item, idx in items" class="w-full relative px-1 py-1 bg-slate-100 rounded-xl flex flex-col">
      <a href="#like" class="absolute top-3 right-3 text-red-400 hover:text-red-300"
        :onclick="e => like(item.id)">
        <svg class="" width="20" height="20" viewBox="0 0 16 16" :fill="likes.includes(item.id) ? 'currentColor' : 'none'" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99538 3.43711C6.64581 1.86435 4.39533 1.44128 2.70442 2.88146C1.01351 4.32164 0.775453 6.72955 2.10333 8.43286C3.20738 9.84904 6.5486 12.8359 7.64367 13.8026C7.76618 13.9108 7.82744 13.9648 7.89889 13.9861C7.96126 14.0046 8.0295 14.0046 8.09186 13.9861C8.16331 13.9648 8.22457 13.9108 8.34709 13.8026C9.44216 12.8359 12.7834 9.84904 13.8874 8.43286C15.2153 6.72955 15.0063 4.30649 13.2863 2.88146C11.5664 1.45643 9.34494 1.86435 7.99538 3.43711Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <a href="item" class="block h-52">
        <img :src="`./assets/${item.img}`" class="w-full max-h-full object-cover rounded-lg" />
      </a>
      <div class="bg-white rounded-md p-2 mt-1">
        <h3 :else class="inline-block leading-none mb-2 mt-1 px-1 py-1 font-semibold whitespace-nowrap" :class="item.special ? 'bg-repeat bg-stripes rounded-md text-white text-lg' : 'text-xl'"><span :text="item.price"></span> ₽</h3>
        <a href="item"><h4 class="text-base mb-1 leading-tight font-semibold" :text="item.name"></h4></a>
        <p class="text-xs line-clamp-4" :text="item.desc"></p>
      </div>
      <div class="flex flex-row items-center gap-2 mt-auto">
        <span class="flex flex-row items-center">
          <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
          <span :text="item.rating.toFixed(1)"></span>
        </span>
        <button type="button" class="button font-semibold uppercase ml-auto !inline-block !h-auto w-auto my-2" :class="item.special ? 'button-red' : 'button-green'">В корзину</button>
      </div>
    </article>
  </div>
</template>